.ad_banner {
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 50px 50px;
  box-sizing: border-box;
}

h3 {
  color: whitesmoke;
}

h1 {
  color: var(--primary-color);
  font-size: 3rem;
  font-weight: bolder;
  margin: 15px;
}

.description {
  font-size: 25px;
  width: 50%;
  text-align: center;
  gap: 10px;
}
