header {
    font-family: Arial, Helvetica, sans-serif;
    height: 60px;
    width: auto;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    align-items: center;
    box-sizing: border-box;
}

header h2 {
    font-size: 1.3rem;
    color: whitesmoke
}

